/*Set the row height to the viewport*/
.row-height{
  height: 100vh;
}

/*Set up the columns with a 100% height, body color and overflow scroll*/

.thumbnail img {
  max-height: 100%;
  max-width: 100%;
}

.left{
  height: 100%;
  overflow-y: scroll;
}

.right{
  height: 100%;
  overflow-y: scroll;
}

.mid{
  background-color: green;
  height: 