{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>
{% endblock %}

{% block scripts %}
    {{ super() }}

    <script>
        $(function () {
            MathJax.Hub.Config({
                tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
            });
            
            var QUEUE = MathJax.Hub.queue;
            var simplemde = new SimpleMDE({
                element: document.getElementById("text"),
                spellChecker: false,
                previewRender: function(plainText) {
                    var preview = document.getElementsByClassName("editor-preview-side")[0];
                    preview.innerHTML = this.parent.markdown(plainText);
                    preview.setAttribute('id','editor-preview')
                    MathJax.Hub.Queue(["Typeset",MathJax.Hub,"editor-preview"]);
                    return preview.innerHTML;
                },
            });
        })
    </script>
{% endblock %}

{% block app_content %}
    <h1>Aufgabe zu {{course.title}} hinzufügen</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(cols=64, rows=1) }}<br>
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.due_date.label }}<br>
            {{ form.due_date() }}<br>
            {% for error in form.due_date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.text.label }}<br>
            {{ form.text() }}<br>
            {% for error in form.text.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        
        <p>{{ form.submit() }}</p>
    </form>
    <a href="{{url_for('manage_course',course_id=course.id)}}">Abbrechen</a>
{% endblock %}