{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>
{% endblock %}

{% block scripts %}
{{ super() }}

<script>
    $(function () {
        MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [
                    ["$", "$"],
                    ["\\(", "\\)"]
                ]
            }
        });

        var QUEUE = MathJax.Hub.queue;
        var simplemde = new SimpleMDE({
            element: document.getElementById("text"),
            spellChecker: false,
            previewRender: function (plainText) {
                var preview = document.getElementsByClassName("editor-preview-side")[0];
                preview.innerHTML = this.parent.markdown(plainText);
                preview.setAttribute('id', 'editor-preview')
                MathJax.Hub.Queue(["Typeset", MathJax.Hub, "editor-preview"]);
                return preview.innerHTML;
            },
        });
    })
</script>
{% endblock %}

{% block app_content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">{{task.title}}</h1>
    <p class="lead">{{task.text | truncate(140)}}</p>
    <p>Lösung von {{student.name}}</p>
</div>

<div class="container">
    <table class="table">
        <tr>
            <th>Dateiname</th>
            <th>Abgabedatum</th>
        </tr>
        {% for entry in submissions %}
        <tr>
            <td>{{entry.original_name}}</td>
            <td>{{entry.timestamp}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
<div class="container">
    <a href="{{url_for('feedback_submissions', course_id=course.id, task_id=task.id)}}"><span class="fas fa-arrow-left"
            style="font-size:18pt"></span></a>&nbsp;
</div>
<div class="container-fluid">
    <div class="col-lg-6 left">
        {% for entry in submissions %}
        <img src="{{url_for('uploaded_file', filename=entry.filename)}}" class="thumbnail"
            alt="{{entry.original_name}}"></img>
        {% endfor %}
    </div>
    <div class="col-lg-6 right">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <p>
                {{ form.text.label }}<br>
                {{ form.text() }}<br>
                {% for error in form.text.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            {% if task.max_score %}
            <p>
                {{ form.score.label }}<br>
                {{ form.score() }}/{{task.max_score}}<br>
                {% for error in form.score.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            {% endif %}
            <p>{{ form.submit() }}</p>

        </form>
    </div>
</div>
{% endblock %}