{% extends "base.html" %}

{% block app_content %}
    <div class="jumbotron">
        <div class="container">
            <h2 class="display-3">Abgaben zur Bewertung {{task.title}}</h2>
            <p>{{task.text | truncate(140)}}</p>
        </div>
    </div>

    <div class="container">
        <a href="{{url_for('manage_course', course_id=course.id)}}"><span class="fas fa-arrow-left" style="font-size:18pt"></span></a>&nbsp;
    </div>
    <div class="container">
        <table class="table">
        <tr>
            <th>Name</th>
            <th>Alias</th>
            <th>Letzte Aktivität</th>
            <th></th>
        </tr>
        {% for student in submissions %}
            <tr>
                <td>{{student.name}}</td>
                <td>{{student.alias}}</td>
                <td>{{student.last_seen}}</td>
                <td><a href="{{url_for('feedback_student', task_id=task.id, course_id=course.id, student_id=student.id)}}">
                    {% if not feedback[student.id] %}
                    Bewertung vornehmen
                    {% else %}
                    Bewertung ändern
                    {% endif %}
                </a></td>
            </tr>
        {% endfor %}
        </table>
        </div>
{% endblock %}