{% extends "base.html" %}

{% block app_content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">{{course.title}}</h1>
    <p class="lead">{{course.description | truncate(140)}}</p>
</div>

<div class="container">
    <a href="{{url_for('index')}}"><span class="fas fa-arrow-left" style="font-size:18pt"></span></a>&nbsp;
    <a href="{{url_for('add_task',course_id=course.id)}}"><i class="fas fa-plus-square"
            style="font-size:18pt"></i></a>&nbsp;
    <a href="{{url_for('students', course_id=course.id)}}"><span class="fas fa-user-cog"
            style="font-size:18pt"></span></a>
</div>
<div class="container">
    <table class="table">
        <tr>
            <th>Aufgabe</th>
            <th>Abgabedatum</th>
            <th>Maximale Punktzahl</th>
            <th>Fehlende Abgaben</th>
            <th>Abgaben</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        {% for task in tasks %}
        <tr>
            <th>
                <a href="{{url_for('task_teacher', course_id=course.id, task_id=task.id)}}"> {{task.title}}</a>
            </th>
            <td>
                {% if task.due_date %}
                {{task.due_date | datetime}}
                {% endif %}
            </td>
            <td>
                {% if task.max_score %}
                {{task.max_score}}
                {% endif %}
            </td>
            <td>
                {% if student_count-submissions[task.id] > 0 %}
                <a href="{{ url_for('missing_submissions', course_id=course.id, task_id=task.id) }}"
                    style="font-size: 150%">{{student_count-submissions[task.id]}}</a>
                {% else %}
                &nbsp;
                {% endif %}
            </td>
            <td>
                {% if submissions[task.id] > 0 %}
                <a href="{{ url_for('feedback_submissions', course_id=course.id, task_id=task.id) }}"
                    style="font-size: 150%">{{submissions[task.id]}}</a>
                {% else %}
                &nbsp;
                {% endif %}
            </td>
            <td>
                <a href="{{ url_for('edit_task', course_id=course.id, task_id=task.id) }}"><span class="fas fa-edit"
                        style="font-size:18pt"></span></a></td>
            </td>
            <td>
                {% if task.is_visible %}
                <a href="{{ url_for('hide_task', course_id=course.id, task_id=task.id) }}"><i
                        class="fas fa-eye"></i></a>
                {% else %}
                <a href="{{ url_for('show_task', course_id=course.id, task_id=task.id) }}"><i
                        class="fas fa-eye-slash"></i></a>
                {% endif %}
            </td>
            <td>
                {% if not task.is_done %}
                <a href="{{ url_for('close_task', course_id=course.id, task_id=task.id) }}"><span
                        class="fas fa-angle-double-right" style="font-size:18pt"></span></a></td>
            {% else %}
            <a href="{{ url_for('reopen_task', course_id=course.id, task_id=task.id) }}"><i class="fas fa-stop"></i></a>
            {% endif %}
            </td>
            <td>
                <a href="{{ url_for('delete_task', course_id=course.id, task_id=task.id) }}"
                    onclick="return confirm('Soll die Aufgabe wirklich gelöscht werden?');"><span
                        class="fas fa-trash-alt" style="font-size:18pt"></span></a></td>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}