{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Registrieren</h1>
</div>
<div class="container">
    <div class="col-lg-6">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=50) }}<br>
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=50) }}<br>
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(size=50) }}<br>
                {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.password2.label }}<br>
                {{ form.password2(size=50) }}<br>
                {% for error in form.password2.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                <input type="checkbox" onchange="document.getElementById('submit').disabled = !this.checked;"
                    name='visto' id='visto' />
                Ich habe die <a href="{{url_for('static', filename='html/Datenschutz_v1.html')}}"
                    target="_blank">Datenschutzerklärung</a> gelesen und erkläre mich damit einverstanden, dass meine
                Daten
                elektronisch verarbeitet und gespeichert werden.
            </p>
            <p>{{ form.submit(disabled="True", class="btn btn-primary") }}</p>
        </form>
    </div>
</div>
{% endblock %}