{% extends "base.html" %}

{% block app_content %}
<div class="container">
    <table>
        <tr valign="top">
            <td></td>
            <td>
                <h1> {{ user.username }}</h1>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>{% if user.institution %}<p>Schule: <b>{{ user.institution }}</b></p>{% endif %}</td>
        </tr>
        <tr>
            <td></td>
            <td>{% if user.show_email %}<p>E-Mail: <b>{{ user.email }}</b></p>{% endif %}</td>
        </tr>
        <tr>
            <td></td>
            <td>{% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}</td>
        </tr>
        <tr>
            <td></td>
            <td>{% if user.last_seen %}<p>Letzte Aktivität am: {{ user.last_seen | datetime }}</p>{% endif %}</td>
        </tr>
        <tr>
            <td></td>
            <td>{% if user == current_user %}
                <p><a href="{{ url_for('edit_profile') }}"><span class="fas fa-edit" style="font-size:18pt"></span></a>
                </p>
                {% endif %}
            </td>
        </tr>
    </table>
</div>
{% endblock %}