{% extends "base_work.html" %}

{% block head %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    $(function () {
        MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [
                    ["$", "$"],
                    ["\\(", "\\)"]
                ]
            }
        });

        var QUEUE = MathJax.Hub.queue;
        var simplemde = new SimpleMDE({
            element: document.getElementById("text"),
            spellChecker: false,
            previewRender: function (plainText) {
                var preview = document.getElementsByClassName("editor-preview-side")[0];
                preview.innerHTML = this.parent.markdown(plainText);
                preview.setAttribute('id', 'editor-preview')
                MathJax.Hub.Queue(["Typeset", MathJax.Hub, "editor-preview"]);
                return preview.innerHTML;
            },
        });
    })
</script>
{% endblock %}

{% block app_content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">
            <div class="m-1 p-1">
                <h1>{{task.title}}</h1>

                {% if task.max_score and not task.is_done%}
                <h6>Maximale Punktzahl {{task.max_score}}</h6>
                {% endif %}

                {% if task.due_date and not task.is_done%}
                <h6>Abgabedatum {{task.due_date | datetime}}</h6>
                {% endif %}

                <p>
                    <a href="{{url_for('work',student_alias=student.alias)}}"><span class="fas fa-arrow-left"
                            style="font-size:18pt"></span></a></p>
                <p>
                    {{task.text | markdown}}
                </p>
            </div>

            <div class="border border-secondary rounded m-1 p-1">
                <p>
                    <table class="table">
                        <tr>
                            <th>Dateiname</th>
                            <th>Abgegeben am</th>
                            <th></th>
                        </tr>
                        {% for entry in submissions %}
                        <tr>
                            <td>
                                <a href="{{url_for('uploaded_file', filename=entry.filename)}}"
                                    target="_blank">{{entry.original_name}}</a>
                            </td>
                            <td>{{entry.timestamp}}</td>
                            {% if not task.is_done %}
                            <td><a href="{{ url_for('delete_submission', student_alias = student.alias, submission_id=entry.id, task_id=task.id) }}"
                                    onclick="return confirm('Soll die Datei wirklich gelöscht werden?');"><span
                                        class="fas fa-trash-alt" style="font-size:18pt"></span></a></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </table>
                </p>

                {% if not task.is_done %}

                <p>Die Lösungen für die Aufgabe müssen als Bild hochgeladen werden. Wenn
                    die Lösung aus mehreren Bildern besteht, dann muss jedes Bild einzeln
                    hochgeladen werden.</p>
                <form action="" method="POST" enctype="multipart/form-data">
                    {{form.hidden_tag()}}
                    <p>
                        {{ form.file.label }}<br>
                        {{ form.file() }}<br>
                        {% for error in form.file.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </p>

                    <p>{{ form.submit() }}</p>
                </form>
            </div>
            {% endif %}


            {% if feedback %}
            <div class="border border-secondary rounded m-1 p-1">
                <p>
                    <h2>Feedback: </h2>
                    <p>{{feedback.text}}</p>
                    {% if task.max_score %}
                    <p>Erreichte Punkte: <b>{{feedback.score}}</b> von {{task.max_score}}</p>
                    {% endif %}
                </p>
            </div>
            {% endif %}

            <p>
                <a href="{{url_for('work',student_alias=student.alias)}}"><span class="fas fa-arrow-left"
                        style="font-size:18pt"></span></a>
            </p>
        </div>

        <div class="col-lg-4 bg-light rounded">
            <h2>Fragen</h2>

            {% if not task.is_done %}
            <form action="" method="POST" enctype="multipart/form-data">
                {{form_message.hidden_tag()}}
                <p>
                    {{ form_message.text(rows=4, style="width: 100%") }}<br>
                    {% for error in form_message.text.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>

                <p>{{ form_message.submit_message() }}</p>
            </form>
            {% endif %}

            {% for message in messages %}
            {% if message.student_alias %}
            <p class="border rounded bg-white">
                {{message.text}}<br>
                <small class="text-dark">{{message.timestamp|datetime}}</small></p>
            {% else %}
            <p class="border rounded bg-white text-primary">{{message.text}}<br>
                <small class="text-dark">{{message.timestamp|datetime}}</small></p>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    {% endblock %}